<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/lib/icon.css">
    <link rel="stylesheet" href="../css/lib/materialize.min.css">
    <link rel="stylesheet" href="../css/build_vita.css">
</head>

<body ms-controller="vm_body" class="white-2">
    <div class="top-bar shadow-1 grey lighten-3"></div>
    <div class="main">
        <div class="left-bar shadow-1 grey lighten-3" ms-controller="vm_left_bar">
            <div class="upward  waves-effect waves-light btn"></div>
            <ul class="chart-item-container">
                <li ms-repeat="charts" class="chart-item  grey lighten-3 shadow-1" ms-attr-id="el"></li>
            </ul>
            <div class="downward  waves-effect waves-light btn"></div>
        </div>
        <div class="content shadow-1 grey lighten-3">
            <div class="operation-panel" ms-controller="vm_operation_panel">
                <div class="data-panel  grey lighten-3">
                    <div class="add-data-panel shadow-1">
                        <div class="tree">
                            <div class="addRoot waves-effect waves-light btn">添加一级数据</div>
                            <div class="node" style="margin:0;">
                                <div class="select" data-index="0">
                                    <span>技能名 - </span>
                                    <span>熟练度</span>
                                    <ul>
                                        <li>
                                            <div class="input-field">
                                                <input id="skillName0" type="text" class="validate" data-index="0">
                                                <label for="skillName0" data-index="0">Last Name</label>
                                            </div>
                                        </li>
                                        <li class="range-field">
                                            <label for="rang0" data-index="0">熟练度:</label>
                                            <input type="range" id="rang0" min="1" max="100" data-index="0" />
                                        </li>
                                    </ul>
                                </div>
                                <div class="option" data-index="0">
                                    <div class="switch" data-index="0">*</div>
                                    <div class="opts" data-index="0">
                                        <span class="add" data-index="0">+</span>
                                        <span class="remove" data-index="0">-</span>
                                        <span class="fold" data-index="0">C</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ok waves-effect waves-light btn" ms-click="create">创建</div>
            </div>
            <div class="preview grey lighten-3 shadow-1">
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../js/lib/materialize.min.js"></script>
    <script type="text/javascript" src="../js/lib/avalon.js" data-main="../js/main.js"></script>
</body>

</html>
