<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/lib/icon.css">
    <link rel="stylesheet" href="../css/lib/materialize.min.css">
    <link rel="stylesheet" href="../css/build_vita.css">
</head>

<body ms-controller="vm_body" class="white-2">
    <div class="top-bar shadow-1 grey lighten-3"></div>
    <div class="main">
        <div class="left-bar shadow-1 grey lighten-3" ms-controller="vm_left_bar">
            <div class="upward  waves-effect waves-light btn"></div>
            <ul class="chart-item-container">
                <li ms-repeat="charts" class="chart-item  grey lighten-3 shadow-1" ms-attr-id="el"></li>
            </ul>
            <div class="downward  waves-effect waves-light btn"></div>
        </div>
        <div class="content shadow-1 grey lighten-3">
            <div class="operation-panel" ms-controller="vm_operation_panel">
                <div class="data-panel  grey lighten-3">
                    <ul class="add-data-panel shadow-1">
                        <li class="new-data  grey lighten-3 shadow-1" ms-repeat="newData">
                            <div class="delete-data" ms-click="$remove"> <i class="material-icons">delete</i> </div>
                            <div class="input-field col s6">
                                <input type="text" class="validate" ms-attr-id="'skillName'+$index" ms-on-focus="showSkills($index)" ms-on-blur="hideSkills($index)">
                                <label ms-attr-for="'skillName'+$index">一级数据:</label>
                            </div>
                            <ul ms-attr-id="'skill'+$index" ms-attr-number="$index" class="shadow-2" style="display:none;">
                                <li ms-repeat="data" class="skill-name" ms-text="$key" ms-on-mousedown="fillSkillName($key)"></li>
                            </ul>
                            <p class="range-field" style="margin-top:5px;">
                                <label ms-attr-for="'prof'+$index" style="margin-left:12px;">熟练度:<i ms-text="el.prof"></i></label>
                                <input type="range" ms-attr-id="'prof'+$index" min="1" max="100" ms-duplex-number="el.prof" />
                            </p>
                            <a class="waves-effect waves-light btn add-sub-data">添加二级数据</a>
                        </li>
                        <li class="add-new-data shadow-1" ms-click="addNewData">
                        </li>
                    </ul>
                </div>
                <div class="ok  waves-effect waves-light btn">创建</div>
            </div>
            <div class="preview  grey lighten-3 shadow-1">
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../js/lib/materialize.min.js"></script>
    <script type="text/javascript" src="../js/lib/avalon.js" data-main="../js/main.js"></script>
</body>

</html>
