<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/lib/icon.css">
    <link rel="stylesheet" href="../css/lib/materialize.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/build_vita.css">
    <script>
    if (!sessionStorage.userInfo) {
        alert("请先登录");
        location.href = "login.html";
    }
    </script>
</head>

<body ms-controller="vm_body" class="white-2">
    <div class="top-bar shadow-1 grey lighten-3"></div>
    <div class="main">
        <div class="left-bar shadow-1 grey lighten-3" ms-controller="vm_left_bar">
            <div class="upward  waves-effect waves-light btn"></div>
            <ul class="chart-item-container">
                <li ms-repeat="charts" ms-class="chart-item  grey lighten-3 shadow-1" ms-data-chart-index="$index" ms-attr-id="el.name" ms-attr-title="el.tips" ms-click="clickAChart"></li>
            </ul>
            <div class="downward  waves-effect waves-light btn"></div>
        </div>
        <div class="content shadow-1 grey lighten-3">
            <div class="operation-panel" ms-controller="vm_operation_panel">
                <div class="data-panel  grey lighten-3">
                    <div class="add-data-panel shadow-1">
                        <div id="tree-container" class="tree">
                            <div class="btn disabled cur-chart">
                                {{curChart}}
                            </div>
                            <div class="addRoot waves-effect waves-light btn">添加一级数据</div>
                            <div class="node" style="margin:0;">
                                <div class="select" data-index="0">
                                    <span id="skillName">技能名</span>
                                    <span> - </span>
                                    <span id="prof">熟练度</span>
                                    <ul>
                                        <li>
                                            <div class="input-field">
                                                <input id="skillName0" type="text" class="validate" data-index="0">
                                                <label for="skillName0" data-index="0">技能名</label>
                                            </div>
                                        </li>
                                        <li class="range-field">
                                            <label for="rang0" data-index="0">熟练度:</label>
                                            <input type="range" id="rang0" min="1" max="100" data-index="0" />
                                        </li>
                                    </ul>
                                </div>
                                <div class="option shadow-1" data-index="0">
                                    <div class="switch" data-index="0">*</div>
                                    <div class="opts" data-index="0">
                                        <span class="add" data-index="0" title="添加子数据">+</span>
                                        <span class="remove" data-index="0" title="删除该数据">-</span>
                                        <span class="fold" data-index="0" title="隐藏子数据">...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-panel">
                    <div id="create" class="waves-effect waves-light btn">创建</div>
                    <div id="show-preview" class="waves-effect waves-light btn">预览</div>
                </div>
            </div>
            <div class="preview grey lighten-3 shadow-1">
                <div id="pie-chart-container">
                    <div id="back" class="waves-effect waves-light btn" title="返回上级数据">Back</div>
                    <div id="pie-chart"></div>
                </div>
                <div id="tree-chart"></div>
            </div>
        </div>
    </div>
    <script src="../js/lib/jquery.min.js"></script>
    <script src="../js/lib/materialize.min.js"></script>
    <script type="text/javascript" src="../js/lib/avalon.js" data-main="../js/build/main.js"></script>
</body>

</html>
