<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/lib/icon.css">
    <link rel="stylesheet" href="../css/lib/materialize.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/detail.css">
    <script>
    if (!localStorage.userInfo) {
        alert("请先登录");
        location.href = "login.html";
    }
    </script>
</head>

<body ms-controller="vm_body" class="white-2">
    <div class="top-bar shadow-1 grey lighten-3"></div>
    <div class="main" ms-controller="vm_main">
        <ul>
            <li ms-repeat="items" ms-attr-title="el.typeName" ms-attr-id="el.id" data-repeat-rendered="chartsRendered">
            </li>
            <div style="clear:both;">
            </div>
        </ul>
    </div>
    <script type="text/javascript" src="../js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../js/lib/materialize.min.js"></script>
    <script type="text/javascript" src="../js/lib/echarts.min.js"></script>
    <script type="text/javascript" src="../js/common/chartBuilder.js"></script>
    <script type="text/javascript" src="../js/lib/avalon.js" data-main="../js/detail/main.js"></script>
</body>

</html>
