<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/lib/icon.css">
    <link rel="stylesheet" href="../css/lib/materialize.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/manage.css">
    <script>
    if (!sessionStorage.userInfo) {
        alert("请先登录");
        location.href = "login.html";
    }
    </script>
</head>

<body ms-controller="vm_body" class="white-2">
    <div class="top-bar shadow-1 grey lighten-3"></div>
    <div class="main" ms-controller="vm_main">
        <ul>
            <li id="vita_of_upload" , title="上传的简历"></li>
            <li ms-repeat="items" ms-attr-title="el.tips" ms-attr-id="el.name" ms-click="clickItem($index)">
                <a href="#" class="delete-item" ms-click="$remove">
                    <i class="material-icons">delete</i>
                </a>
            </li>
            <li id="add-item" title="添加新项目" ms-click="addItem"></li>
            <div style="clear:both;">
            </div>
        </ul>
    </div>
    <script type="text/javascript" src="../js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../js/lib/materialize.min.js"></script>
    <script type="text/javascript" src="../js/lib/avalon.js" data-main="../js/manage/main.js"></script>
</body>

</html>
