<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/lib/icon.css">
    <link rel="stylesheet" href="../css/lib/materialize.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/search.css">
</head>

<body ms-controller="vm_body" class="white-2" style="overflow-y: scroll;">
    <div class="top-bar shadow-1 grey lighten-3"></div>
    <div class="main shadow-1" ms-controller="vm_main">
        <div class="search-panel shadow-1" ms-controller="vm_search_panel">
            <ul id="can-choice" class="shadow-1">
                <li class="can-choice-label">可选:</li>
                <li ms-repeat="canChoiceSkills">
                    <input type="checkbox" class="filled-in" ms-attr-id="el.name"/>
                    <label ms-attr-for="el.name">{{el.name}}</label>
                </li>
                <div style="clear: both;"></div>
            </ul>
            <div class="search shadow-1">
                <input type="text" placeholder="技术方向或求职者姓名" style="margin:0;">
                <button class="waves-effect waves-light btn" ms-click="search">搜索</button>
                <div style="clear: both;"></div>
            </div>
        </div>
        <div class="result-panel" ms-controller="vm_result_panel">
            <div class="sort-panel shadow-1">
                <ul class="sort-tabs">
                    <li class="sort-label">排序:</li>
                    <li ms-repeat="sortRules"></li>
                </ul>
            </div>
            <ul class="result shadow-1">
                <li ms-repeat="results" class="result-item" data-repeat-rendered="resultRendered" ms-click="showDetails($index)">
                    {{el}}
                </li>
                <div style="clear:both;"></div>
            </ul>
            <div class="page-panel shadow-1">
                <ul class="pagination">
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    <li class="active"><a href="#!">1</a></li>
                    <li class="waves-effect"><a href="#!">2</a></li>
                    <li class="waves-effect"><a href="#!">3</a></li>
                    <li class="waves-effect"><a href="#!">4</a></li>
                    <li class="waves-effect"><a href="#!">5</a></li>
                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                </ul>
            </div>
        </div>
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large red">
                <i class="material-icons">mode_edit</i>
            </a>
            <ul>
                <li><a class="btn-floating red" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i class="material-icons">insert_chart</i></a></li>
                <li><a class="btn-floating yellow darken-1" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i class="material-icons">format_quote</i></a></li>
                <li><a href="#" class="btn-floating green" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i class="material-icons">publish</i></a></li>
                <li><a class="btn-floating blue" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i class="material-icons">attach_file</i></a></li>
            </ul>
        </div>
        <div style="clear:both;"></div>
    </div>
    <script type="text/javascript" src="../js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../js/lib/materialize.min.js"></script>
    <script type="text/javascript" src="../js/lib/avalon.js" data-main="../js/search/main.js"></script>
</body>

</html>
