<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/lib/materialize.min.css">
    <link rel="stylesheet" href="../css/build_vita.css">
</head>

<body ms-controller="vm_operation_panel">
    <div ms-repeat="data">
        {{data[$key]}}
    </div>
    <script type="text/javascript" src="../js/lib/avalon.js" data-main="../js/main.js"></script>
</body>

</html>
