<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/lib/icon.css">
    <link rel="stylesheet" href="../css/lib/materialize.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/vita_manage.css">
    <script>
    if (!localStorage.userInfo) {
        alert("请先登录");
        location.href = "login.html";
    }
    </script>
</head>

<body ms-controller="vm_body" class="white-2">
    <div class="top-bar shadow-1 grey lighten-3"></div>
    <div class="main" ms-controller="vm_main">
        <ul>
            <li id="vita_of_upload" ms-attr-title="{{vitaOfUpload.typeName}}" ms-click="choiceVita">
                <form action="../vita/upload" enctype="multipart/form-data" method="post" style="display:none;">
                    <input type="text" name="uploadVitaID">
                    <input type="text" name="userId" ms-duplex="userId">
                    <input type="file" name="file" id="inputUploadFile" ms-on-change="fileNameChange">
                    <input type="submit" id="submitFile">
                </form>
                <span>文件名:</span>
                <span id="fileName"></span>
                <span class="btn" style="z-index: 1;" ms-click="uploadVita">确定上传</span>
            </li>
            <li ms-repeat="items" ms-attr-title="el.typeName" ms-attr-id="el.id" ms-click="clickItem($index)" data-repeat-rendered="chartsRendered">
                <a href="#" class="delete-item" ms-click="removeAChart($index)">
                    <i class="material-icons">delete</i>
                </a>
            </li>
            <li id="add-item" title="添加新项目" ms-click="addItem"></li>
            <div style="clear:both;">
            </div>
        </ul>
    </div>
    <script type="text/javascript" src="../js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../js/lib/materialize.min.js"></script>
    <script type="text/javascript" src="../js/lib/echarts.min.js"></script>
    <script type="text/javascript" src="../js/common/chartBuilder.js"></script>
    <script type="text/javascript" src="../js/lib/avalon.js" data-main="../js/vita_manage/main.js"></script>
</body>

</html>
