<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="leo.mapper.ChartMapper">
	<insert id="insertOne" parameterType="Chart">
		INSERT INTO
		vita_chart
		(email,json,type_id)
		VALUES
		(#{email},#{json},#{typeId})
	</insert>
	<select id="selectMore" resultType="Chart">
		SELECT
		vc.id,
		vc.email,
		vc.json,
		vc.type_id
		FROM
		vita_chart vc
		WHERE
		vc.email = #{email}
	</select>
</mapper>