* {
    margin: 0;
    padding: 0;
}

@MARGIN: 15px;
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    // background: gray;
    // background: #212121;
}

.top-bar {
    height: 40px;
    // background: yellow;
}

.main {
    // background: blue;
    .left-bar {
        position: relative;
        float: left;
        margin: @MARGIN 0 0 @MARGIN;
        // background: red;
        .chart-item-container {
            margin: 30px 0;
            // background: purple;
            overflow: hidden;
            .chosen {
                box-shadow: 0px 5px 22px red;
            }
            .chart-item {
                .item-style;
                .hover-float;
            }
            #pie {
                background-image: url(../img/pie_example.png);
                background-size: 100% 100%;
            }
            #tree {
                background-image: url(../img/tree_example.png);
                background-size: 100% 100%;
            }
        }
        .upward {
            .direction-switch;
            top: 0;
        }
        .downward {
            .direction-switch;
            bottom: 0;
        }
    }
    .content {
        float: left;
        // background: green;
        margin: @MARGIN 0 0 @MARGIN;
        .operation-panel {
            float: left;
            margin: @MARGIN 0 0 @MARGIN;
            // background: yellow;
            .btn-panel {
                width: 100%;
                margin-top: @MARGIN;
                height: 30px;
                line-height: 30px;
                #create {
                    width: 49%;
                    float: left;
                    cursor: pointer;
                }
                #show-preview {
                    float: left;
                    margin-left: 2%;
                    width: 49%;
                    cursor: pointer;
                }
            }
            .data-panel {
                // background: black;
                .add-data-panel {
                    display: inline-block;
                    // margin: @MARGIN 0 0 @MARGIN;
                    // background: white;
                    overflow-y: scroll;
                    overflow-x: auto;
                    // .new-data {
                    //     position: relative;
                    //     .data-style;
                    //     // background: green;
                    //     ul {
                    //         // background: blue;
                    //         li {}
                    //     }
                    //     .delete-data {
                    //         position: absolute;
                    //         width: 10px;
                    //         height: 10px;
                    //         right: 15px;
                    //         top: 18px;
                    //         cursor: pointer;
                    //         z-index: 1;
                    //     }
                    // }
                    // .add-new-data {
                    //     .data-style;
                    //     background-image: url(../img/add.png);
                    //     background-position: center;
                    //     background-size: 30px 30px;
                    //     background-repeat: no-repeat;
                    //     cursor: pointer;
                    //     .hover-float;
                    // }
                    // .add-sub-data {
                    //     width: 100%;
                    // }
                }
            }
        }
        .preview {
            float: left;
            margin: @MARGIN 0 0 @MARGIN;
            #preview-chart {
                width: 100%;
                height: 100%;
            }
            #back {
                margin: 10px 0 0 10px;
                opacity: 0;
                // display: none;
            }
            // background: red;
        }
    }
}

.skill-name {
    // background: red;
    cursor: pointer;
    text-indent: 5px;
    &:hover {
        background: gray;
    }
}

.direction-switch {
    position: absolute;
    width: 100%;
    height: 30px;
    // background: gray;
    cursor: pointer;
}

.item-style {
    text-align: center;
    list-style-type: none;
    margin: @MARGIN auto;
    cursor: pointer;
}

.data-style {
    // width: 150px;
    min-height: 50px;
    float: left;
    display: inline-block;
    margin: @MARGIN;
}

.opt-style {
    width: 20px;
    height: 100%;
    display: inline-block;
    .shadow-2;
    text-align: center;
    margin-left: 10px;
}

input {
    text-indent: 5px;
}

.shadow-1 {
    box-shadow: 0px 2px 10px #888;
}

.shadow-2 {
    box-shadow: 0px 1px 2px #888;
}

.white-1 {
    background-color: #fff;
}

.white-2 {
    background-color: #eee;
}

.white-3 {
    background-color: #ddd;
}

.white-4 {
    background-color: #ccc;
}

.hover-float {
    transition: box-shadow .3s;
    &:hover {
        box-shadow: 0px 5px 22px #888;
    }
}


.tree {
    position: relative;
    margin: @MARGIN;
    .addRoot {
        margin-bottom: 15px;
    }
    .node {
        width: 300px;
        margin: 0px 50px;
        .option {
            display: inline-block;
            // background: red;
            background: #f5f5f5;
            .shadow-2;
            .switch {
                float: left;
                background: #26a69a;
                width: 20px;
                text-align: center;
                cursor: default;
            }
            .opts {
                float: left;
                display: none;
                span {
                    cursor: pointer;
                    .opt-style;
                    transition: all .3s;
                    &:hover {
                        .shadow-1;
                    }
                    &:active {
                        background: #26a69a;
                    }
                }
                .add {}
                .remove {}
                .fold {}
            }
        }
        .select {
            // position: relative;
            background: #f5f5f5;
            float: left;
            width: 150px;
            .shadow-2;
            text-indent: 5px;
            cursor: pointer;
            ul {
                display: none;
                width: 150px;
                position: absolute;
                background: #f5f5f5;
                li {
                    width: 150px;
                    div {
                        margin-left: -5px;
                        width: 150px;
                    }
                }
                .range-field {
                    label {
                        margin-left: 6px;
                        color: #26a69a;
                    }
                }
            }
        }
    }
}

.no-margin {
    margin: 0;
}
