@MARGIN: 15px;
body {
    width: auto;
    height: auto;
}

.main {
    margin-top: @MARGIN;
    margin-bottom: @MARGIN;
    position: relative;
    // width: 1024px;
    padding: @MARGIN;
    .search-panel {
        position: relative;
        padding: @MARGIN;
        margin-bottom: @MARGIN;
        ul {
            min-width: 50%;
            margin: 0 auto;
            li {
                float: left;
                padding-top: 2px;
                margin-left: @MARGIN;
            }
        }
        .can-choice-label {
            padding: 0 @MARGIN;
        }
        .search {
            width: 50%;
            margin: @MARGIN auto 0 auto;
            input {
                width: 70%;
                height: 40px;
                float: left;
                text-indent: 10px;
            }
            button {
                height: 40px;
                float: left;
                width: 30%;
            }
        }
    }
    .result-panel {
        // background: red;
        .sort-panel {
            height: 30px;
            margin-bottom: @MARGIN;
            .sort-tabs {
                display: inline-block;
                // background: blue;
                li {
                    // background: green;
                    // padding: 0 @MARGIN;
                    height: 30px;
                    width: 50px;
                    float: left;
                    text-indent: 8px;
                    line-height: 30px;
                }
                .sort-label {
                    margin: 0 @MARGIN;
                }
            }
        }
        .result {
            // background: green;
            padding-bottom: @MARGIN;
            .result-item {
                background: white;
                margin: @MARGIN 0 0 @MARGIN;
                float: left;
            }
        }
    }
    .page-panel{
        margin-top: @MARGIN;
        ul{
        }
    }
}
